<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<meta name="description"
	content="VVV Mystic jest największą grupą graczy Pokémon GO we Wrocławiu. ">
<link type="text/css" rel="stylesheet" href="css/style.css">

<link rel="icon" type="image/png" href="images/greatball_icon.png">
<title>VVV Wrocław</title>
</head>
<body ng-app="main" ng-controller="mainCtrl">
	<section ng-include="'components/menu.html'"></section>
	<section id="media" class="section">
		<section ng-repeat="movie in movies" class="text-center">
			<span ng-if="$even" class="title">{{movie.split("by")[0]}}</span>
			<span ng-if="$even" class="title-small">by {{movie.split("by")[1]}}</span>
			<iframe ng-if="$odd" class="youtube_video"
				ng-src="{{trustSrc(movie)}}" allowfullscreen> </iframe>
		</section>
	</section>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="js/media.js"></script>
</body>
</html>