
<section id="foreigners"
	class="section section--full section--highlights">
	<div class="row center-vertically">
		<div class="columns small-10 large-6">
			<h1>Not speaking Polish?</h1>
			<p class="paragraph--secondary">Worry not! Our group gathers
				Pokémon GO players coming to Wroclaw from all over the world!</p>
			<h2>How to meet us</h2>
			<p class="paragraph--secondary">
				It's not hard to find us at the local gyms :) Besides that, we
				organize group gym raids, lure parties, small ingroup events and
				even pokemon hunting by cars! So don’t hesitate to <a
					href="#contact">contact </a>us! We have English channel too!
			</p>
		</div>
		<div class="columns large-6 show-for-large text-center">
			<img src="images/articuno.png" class="articuno">
		</div>
	</div>
</section>