
<section id="highlights" class="section">
	<div class="row">
		<div class="columns medium-4 small-12">
			<div class="text-center">
				<div class="pokeball"></div>
				<h3 class="h3">Co robimy</h3>
				<p class="paragraph">Nasza specjalność to grupowe rajdy na gymy
					we Wrocławiu i pod miastem, dbanie o zachowanie zasad gry fair-play
					wśród graczy teamu Mystic, zachęcanie nowych osób do gry, wspólne
					wieczorne wyjścia - ciężko się nudzić.</p>
			</div>
		</div>
		<div class="columns medium-4 small-12">
			<div class="text-center">
				<div class="greatball"></div>
				<h3 class="h3">Kim jesteśmy</h3>
				<p class="paragraph">Jesteśmy grupą pasjonatów gry Pokémon GO,
					członkami teamu Mystic i mieszkańcami Wrocławia. Ale przede
					wszystkim, jesteśmy ekipą czerpiącą przyjemność ze wspólnej gry!</p>
			</div>
		</div>
		<div class="columns medium-4 small-12">
			<div class="text-center">
				<div class="ultraball"></div>
				<h3 class="h3">Dołącz do nas!</h3>
				<p class="paragraph">Jeśli nie jest Ci obca gra Pokémon GO,
					ciężko Ci samodzielnie utrzymać gymy i robić rajdy w Twojej
					okolicy, znudziła Ci się samotna gra lub po prostu chcesz poznać
					ekipę - zapraszamy do kontaktu!</p>
			</div>
		</div>
	</div>

</section>