
<section class="top-bar">
	<nav class="top-bar-center">
		<ul data-dropdown-menu="" class="dropdown menu">
			<a href="#" class="menu-text topbar__logo"><span
				class="topbar--vvv">VVV</span><span>Wrocław</span></a>
			<li class="navigation__item"><a href="#highlights"
				class="navigation__link navigation__link">O VVV</a></li>
			<li class="navigation__item"><a href="#foreigners"
				class="navigation__link">For foreigners</a></li>
			<li class="navigation__item"><a href="#contact"
				class="navigation__link">Kontakt </a></li>
		</ul>
	</nav>
</section>
<i id="mobileOpen" class="fa fa-bars mobile__icon--open"></i>
<section id="mobileMenu" class="mobile-menu">
	<i id="mobileClose" class="fa fa-close mobile__icon--close"></i>
	<ul class="mobile__list">
		<li class="mobile__li mobile__logo"><i class="fa fa-hashtag"></i><span
			class="mobile__logo--bold">VVV</span><span class="mobile__logo--text">Wrocław</span></li>
		<li class="mobile__li"><a href="#highlights" class="mobile__a">O
				VVV</a></li>
		<li class="mobile__li"><a href="#foreigners" class="mobile__a">For
				foreigners</a></li>
		<li class="mobile__li"><a href="#contact" class="mobile__a">Kontakt</a></li>
	</ul>
</section>