<div class="row nicknames">
	<div class="columns medium-12">
		<div class="text-center">
			<h3 class="h3">Kto już z nami gra?</h3>
			<p class="paragraph">Adek90 amatorVVV andrel122 aniadolapania
				Ankh666Sunamun AOXE bananowepikaczu BardWielki Charizard1995xx
				cutyyx De4mix DJFUHRERR Gienko ikolp123 irencia JanPancerz Jaroon5
				kisielfuj Kremuwkarz krg1337 ksysiu999 luckylurke maqoofka Marbutka
				melixsa messiraa mykowhai nomoretrojans Pangee71 Pokesobi91
				polpokemon17 Pshemo00 Rakorsky Rosemily12 Sleples tirnael
				TolekBananKiler Vandergahast VVVAghaowyn VVVAvenria VVVczaczacza
				VVVczubak188 VVVElBolek VVVFaldorn07 VVVGorrann VVVHiyaku VVVHombre
				VVVJanuszTracz007 VVVKalenFea VVVKendzel VVVKhilaya VVVKrzaq90
				VVVKwachu VVVM4ciey VVVMadmalina VVVMenog87 VVVMinik666 VVVMixczu
				VVVMonku VVVMrlppon VVVneymar VVVnightwissh VVVOleczek420
				VVVolicatty VVVPandzia1617 VVVpDzierzega VVVReynariki VVVShyvro
				VVVSnorni VVVswierszcz93 VVVSyla VVVtakbedzie VVVTammir VVVTawinneth
				VVVTheSunGod VVVTimon011 VVVTostab VVVUhahuha VVVvizimir VVVZiemek
				witkaOpadla wjelo wojtek3101 xDxExOx Xpioter71 Yendroosh ytahyta
				Zinnatix</p>
		</div>
	</div>
</div>